---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import Aside from "../../components/aside.astro";
import LightBox from "../../components/lightBox.astro";
const BannerImg = "/images/stamp013-1.png";

export async function getStaticPaths() {
  const response = await fetch(
    "https://drc-api.hopto.org/api/exhibits-list.php",
  );
  const type = await response.json();
  const typelist = type.map((item) => {
    return { params: { exhibit: `${item.typeEN}` } };
  });
  return typelist;
}

const response = await fetch(
  "https://drc-api.hopto.org/api/exhibits-list.php",
);
const type = await response.json();

const cover = await fetch(
  "https://drc-api.hopto.org/api/exhibits-item.php",
);
const coverData = await cover.json();

const { exhibit } = Astro.params;
const coverList = coverData.filter((item) => {
  return item.typeEN == exhibit;
});
// console.log(coverData)
---

<BaseLayout pagetitle="展品介紹" bodyClass="exhibitPage">
  <BannerLayout pagetitle="展品介紹" BannerImg={BannerImg}>
    <section class="exhibitContentArea">
      <Aside asideTitle="展品介紹">
        {
          type.map((item) => {
            return (
              <li class="asideItem">
                <a href={`/exhibits/${item.typeEN}`}>{item.type}</a>
              </li>
            );
          })
        }
      </Aside>
      <div class="exhibitList">
        {
          coverList.map((item) => {
            return (
              <div class="exhibititem">
                <img
                  src={`https://drccollector.hopto.org/images/envelopes/${item.img}`}
                  alt=""
                  data-id={`${item.id}`}
                  draggable="false"
                />
        
                <div class="exhibitTitle">
                  <p>{item.theme ? `主題:${item.theme}` : ``}</p>
                  <p>{item.time ? `年份:${item.time}` : ``}</p>
                </div>
              </div>
            );
          })
        }
      </div>
    </section>
    <LightBox />
  </BannerLayout>
  <script src="/src/scripts/lightBox.js"></script>
</BaseLayout>
